<div class="container border" style="width: 35rem;" *ngIf="chip">
    <div class="row border-bottom">
        <div class="col-2">
            <img class="border border-dark" src={{chip.image}}>
        </div>    
        <div class="col">
            <h3>{{chip.name}}</h3>
        </div>
    </div>
    
    <div class="row border-bottom">
        <div class="col-3 border-right">
            <p>{{chip.type}}</p>
        </div>
        <div class="col-3 border-right">
            <p>{{chip.damage}}</p>
        </div>
        <div class="col-3">
            <p>Codes: {{chip.chipCode}}</p>
        </div>
    </div>
    <p>{{chip.description}}</p>
</div>


