<div class="row">
    <div class="col border-right">
        <app-chip-detail [chip] = "selectedChip"></app-chip-detail>
    </div>
    <div class="col">
        <ul class="chips">
            <li *ngFor = "let chip of chips"
                [class.selected] = "chip === selectedChip"
                (click) = "onSelect(chip)">
                <span class="badge">{{chip.id}}</span>{{chip.name}} | <img *ngIf = "chip.element == 'Null'" src="../assets/Images/ElementIcons/Null.png"> 
                | {{chip.damage}}
            </li>
        </ul>
    </div>
</div>
