#topBar {
  background-color: rgb(176, 196, 252);
}
#title {
  font-family: Lucida Console;
  margin-top: 1em;
  margin-bottom: 1em;
}
#chipSearch {
  margin-top: 1em;
  margin-right: 1em;
}
#chiplist {
  height:85vh;
  overflow: auto;
}
#chipSelector {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2px;
  margin-bottom: 2px;
}
#chipSelector:hover {
  background-color: rgb(211, 211, 255);
}
#chipSelector.selected {
  background-color: rgb(236, 236, 236);
}
#chipName {
  margin-left: .5em;
  font-family: Lucida Console;
}
#elementIcon {
  margin-left: .5em;
}